<h1>Hóa đơn điện tử</h1>
<nz-table nzTemplateMode>
  <thead>
    <tr>
      <th>STT</th>
      <th>Kỳ học</th>
      <th>Tổng số môn học</th>
      <th>Tổng số tín chỉ</th>
      <th>Tổng học phí</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of invoices; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.Semester.semesterDesc }}</td>
      <td>{{ item.total_sub }}</td>
      <td>{{ item.total_credit }}</td>
      <td>{{ item.totalFees | currency : "VND" : " " }} VND</td>
    </tr>
    <tr>
      <td></td>
      <td>Cả năm</td>
      <td>{{ totalsub }}</td>
      <td>{{ totalCredit }}</td>
      <td>{{ totalFees | currency : "VND" : " " }} VND</td>
    </tr>
  </tbody>
</nz-table>
<div>
  <button nz-button nzType="primary" nzDanger (click)="showConfirm()">
    Xóa dữ liệu
  </button>
</div>
